.articlesCarrousel {
  margin: 1em 0;
  width: 100%;
  overflow: auto;
  white-space: nowrap;
  padding-bottom: 1em;
}

.contentSeeMore {
  font-size: 2em;
  padding: .5em 0;
  text-decoration: none;
  color: #888;
  width: 100%;
  text-align: center;
}