.section {
  padding: 2em 5em;
}

.sectionTitle {
  position: relative;
}

.sectionTitle h1 {
  font-family: cursive;
  position: relative;
}

.patternHolder {
  position: absolute;
  height: 40px;
  width: 40px;
  top: -10px;
  left: -10px;
  overflow: hidden;
}

.patternHolder img {
  height: 100px;
  width: 100px;
}