.skillLabel {
    padding: 6px 12px;
    background: #2cbfaa;
    color: white;
    border: 1px solid #2cbfaa;
    border-radius: 8px;
    margin: 4px 5px;
    display: inline-block;
}

.skillLabelHover {
    padding: 6px 12px;
    background: white;
    color: #2cbfaa;
    border: 1px solid #2cbfaa;
    border-radius: 8px;
    margin: 4px 5px;
    display: inline-block;
    cursor: default;
}