@import '/src/AppV2/Theme.module.css';

.about {
  display: flex;
}

.about p {
  margin: .4em 0;
}

.description {
  position: relative;
  padding: 2em;
  border-radius: 10px;

  font-family: var(--font-main-family);
  background-color: var(--card-main-bg-color);
  color: var(--card-main-txt-color);
  box-shadow: var(--shadow-lg) var(--shadow-color);
}

.description::before {
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  border-left: 20px solid transparent;
  border-right: 20px solid var(--card-main-bg-color);
  border-top: 20px solid transparent;
  border-bottom: 20px solid var(--card-main-bg-color);
  left: -40px;
  top: 40px;
}

.pictureHolder {
  margin-right: 5em;
  text-align: center;
}