.grid {
  display: grid;
  grid-gap: 3em;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: center;
  justify-items: end;
  align-items: start;
}

@media screen and (max-width: 600px){
  .grid {
    grid-template-columns: none;
  }
}