@import "../Theme.module.css";

.article {
  margin: 4em auto;
  max-width: 1000px;
  font-family: var(--font-main-family);
  text-align: justify;
}

.articleHeader {
  max-width: 1000px;
  margin: 0 auto;
}

.articleHeader h1 {
  margin: 0;
}

.subHeader {
  display: flex;
  gap: 2em;
  align-items: center;
  justify-content: space-between;
}

.article p {
  font-size: 1.4em;
}

.article img {
  max-width: 100%;
}