.gamesPage {
  width: 90%;
  margin: 2em auto;
  border-radius: 28px;
  background: var(--bg-color);
  border: 1px solid var(--bg-color);
  box-shadow: var(--shadow-color) -1px 1px 5px 1px;
  transition: 0.5s;
}

.title {
  text-align: center;
}

.subtitle {
  display: flex;
  align-items: center;
}

.info {
  flex: 1;
  display: flex;
  color: #434343;
}

.info span {
  flex: 1;
}

.categories {
  flex: 1;
  text-align: right;
}

.featuredImage {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-top-left-radius: 28px;
  border-top-right-radius: 28px;
}

.content {
  padding: 1em 2em;
  line-height: 32px;
  letter-spacing: -0.003em;
  font-size: 21px;
  margin-bottom: -0.46em;
  word-break: break-word;
  font-weight: 400;
}

.gallery {
  display: grid;
  grid-template-columns: minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr);
}

.galleryItem {
  display: inline-grid;
  grid-column-gap: 50px;
  margin: .5em;
  padding: .5em;
  cursor: pointer;
}

.galleryItem img {
  max-width: 100%;
}

.gameInfo {
  display: flex;
}

.gameMoreInfo {
  flex: 1;
}

.gameDownloadSection {
  flex: 1;
}

.downloadButtonHolder {
  text-align: center;
}

.downloadButton {
  height: 2em;
  line-height: 2em;
  display: block;
  text-decoration: none;
  background: black;
  color: whitesmoke;
  border: 0px solid black;
  border-radius: 5px;
  padding: .4em .6em;
  font-size: 1.5em;
  box-shadow: -1px 1px 5px 1px black;
}

.downloadButton img {
  height: 100%;
}

.downloadButton:hover {
  opacity: 0.8;
}

@media (max-width: 600px) {
  .gamesPage {
    width: 90%;
  }

  .content {
    font-size: 18px;
    margin-top: 1.56em;
    line-height: 28px;
  }

  .categories .category {
    display: inline-block;
    margin-bottom: .5em;
  }

  .gallery {
    grid-template-columns: minmax(0, 1fr);
  }

  .gameInfo {
    display: block;
  }
}