@import '/src/AppV2/Theme.module.css';

.card {
  position: relative;
  width: 320px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  font-family: var(--font-main-family);
  overflow: hidden;
  cursor: pointer;
  border-radius: 10px;
  
  box-shadow: var(--shadow-lg) var(--shadow-color);
  transition: box-shadow 0.3s ease-in-out;

  background-color: var(--card-main-bg-color);
}

.card:hover {
  box-shadow: var(--shadow-lg) var(--shadow-hover);
}