@import '/src/AppV2/Theme.module.css';

.footer {
  background-color: var(--bg-second-color);

  font-family: var(--font-main-family);
  color: var(--font-second-color);

  margin-top: 4em;
  padding: .5em;
  text-align: center;
}

.footer svg {
  font-size: 2em;
}

.footer p {
  font-size: .7em;
}