.localeContainer {
    display: flex;
    vertical-align: middle;
    justify-content: space-evenly;
    text-align: center;
}

.localeContainer.row{
    flex-direction: row;
    align-items: center;
}

.localeContainer.column{
    flex-direction: column;
    align-items: center;
}

.localeButton {
    display: flex;
    padding: .2em 0.6em;
    cursor: pointer;
    justify-content: center;
    align-content: center;
}