.contentCardHorizontal {
  display: flex;
  height: 100%;
  border: 1px solid #d8d8d8;
  border-radius: 5px;
  box-shadow: -1px 1px 5px 1px #ccc;
  cursor: pointer;
}

.empty {
  display: flex;
  justify-content: center;
  align-items: center;
}

.contentCardHorizontal:hover {
  border: 1px solid #c5c5c5;
  border-radius: 5px;
  box-shadow: -1px 1px 5px 1px #a7a7a7;
}

.cardHeader {
  width: 100px;
  height: auto;
}

.cardHeader img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  margin: 0 auto;
}

.cardContent {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: .5em;
}

.cardTop {}

.cardCategories {
  margin-top: .5em;
}

.cardDate {
  font-size: 0.6em;
  color: #868686;
  margin-bottom: 0.5em;
  text-align: right;
}

.cardContentBody {
  flex: 1;
  color: #868686;
}

.cardContentBody h3 {
  margin: .5em 0;
  font-size: 1.17em;
}

.cardContentBody p {
  text-align: justify;
  font-size: 0.8em;
  margin: .5em 0;
}