@import '/src/AppV2/Theme.module.css';

.flatButton {
  padding: 0.5em 1.2em;
  border-radius: 20px;
  border-style: solid;
  margin: 1em 0;
  cursor: pointer;

  box-shadow: var(--shadow-sm) var(--shadow-color);
  background: var(--btn-main-bg-color);
  border-color: var(--btn-main-bg-color);
  color: var(--btn-main-txt-color);
  transition: box-shadow 0.3s ease-in-out;
}

.flatButton:hover {
  box-shadow: var(--shadow-lg) var(--shadow-hover);
}