.resume {
  margin: 0;
  padding: 0;
  background-color: #6b6b6b;
  font: 12pt "Tahoma";
}

.resumeHelper {
  position: absolute;
  top: 5%;
  left: 5%;
}

.homeButton {
  padding: 10px 20px;
  background-color: #434343;
  border-radius: 12px;
  box-shadow: 0px 0px 6px 2px #4b4b4b;
}

.homeButton:hover {
  box-shadow: 0px 0px 6px 2px #272727;
}

.homeButton a {
  text-decoration: none;
  color: white;
  font-size: 3em;
  display: flex;
  justify-content: center;
  align-content: center;
}

@page {
  size: A4;
  margin: 0;
}

@media print {

  .resumeHelper {
    display: none;
  }

  .noPrint {
    display: none;
  }
}