.resume {
  margin: 0;
  padding: 0;
  background-color: #6b6b6b;
  font: 12pt "Tahoma";
}

.page {
  position: relative;
  width: 21cm;
  min-height: 29.7cm;
  margin: 1cm auto;
  border: 1px #D3D3D3 solid;
  border-radius: 5px;
  background: white;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.sideContent {
  margin-right: 2em;
  font-size: 0.9em;
  flex: 1;
}

.contentBody {
  margin-top: 1em;
  display: flex;
}

.content {
  flex: 3;
}

.subpage {
  padding: 1cm;
  border: 5px red solid;
  height: 256mm;
  outline: 2cm #FFEAEA solid;
}

.resumeHelper {
  position: absolute;
  top: 5%;
  left: 5%;
}

.homeButton {
  padding: 10px 20px;
  background-color: #434343;
  border-radius: 12px;
  box-shadow: 0px 0px 6px 2px #4b4b4b;
}

.homeButton:hover {
  box-shadow: 0px 0px 6px 2px #272727;
}

.homeButton a {
  text-decoration: none;
  color: white;
  font-size: 3em;
  display: flex;
  justify-content: center;
  align-content: center;
}

.bgImg {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0.05;
  top: -0.1cm;
  z-index: 0;
  left: -0.1cm;
}

@page {
  size: A4;
  margin: 0;
}

@media print {

  .resumeHelper {
    display: none;
  }

  .noPrint {
    display: none;
  }

  .page {
    margin: 0;
    border: initial;
    border-radius: initial;
    width: initial;
    min-height: initial;
    box-shadow: initial;
    background: initial;
    page-break-after: always;
  }
}