@import "/src/AppV2/Theme.module.css";

.slider {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100.1%;
  height: 100.1%;
  border: 0;
  overflow-y: scroll;
  background-color: var(--bg-main-color);
}

.sliderTrack {
  position: absolute;
  width: 100%;
}