.section {
  padding: 0;
  max-width: 1200px;
  margin: 0 auto;
  margin-top: 4em;
}

.sectionTitle {
  position: relative;
}

.sectionTitle h1 {
  font-family: var(--font-main-family);
  color: var(--font-main-color);
  position: relative;
}

.patternHolder {
  position: absolute;
  height: 40px;
  width: 40px;
  top: -10px;
  left: -10px;
  overflow: hidden;
}

.patternHolder img {
  height: 100px;
  width: 100px;
}

@media screen and (max-width: 600px){
  .section {
    padding: 0 1em;
    margin-top: 2em;
  }
}