@import '/src/AppV2/Theme.module.css';

.navBar {
  background-color: var(--bg-second-color);
  color: var(--font-second-color);
  padding: 1em 0;
}

.navBar .home {
  display: flex;
  align-items: center;
  gap: 10px;
}

.navBarBody {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;

  position: relative;
  z-index: 2;
  
  font-size: 1.5em;

  text-decoration: none;
}

.navBarButton {
  cursor: pointer;
}

.navBarButton a {
  color: var(--font-second-color);
  text-decoration: none;
}


@media screen and (max-width: 600px) {

  .navBar {
    padding: 1em;
  }

  .navBarButton span {
    font-size: .5em;
  }
}