.workExperience {
    margin: 1em 0;
}

.workExperienceTitle {
    display: flex;
}

.workExperienceTitle h3 {
    margin: 0;
    margin-right: 1em;
    flex: 1;
    font-size: 18px;
}

.workExperienceTitle div p {
    margin: 5px 0;
    color: #2cbfaa;
    font-style: italic;
    font-weight: bold;
    text-align: right;
    font-size: 9px;
}

.workExperienceContent {
    margin-top: 0.5em;
    font-style: italic;
    font-size: 12px;
}