.gameContainer {
    display: block; 
    text-decoration: none; 
    color: #666;
    margin: 10px 0;
}

.imgHolder {
    height: 2cm;
}

.imgHolder img {
    width: 100%; 
    height: 100%;
    object-fit: cover
}

.title {
    margin: 2px 0; 
    font-size: 12px; 
    font-weight: bold
}

.description {
    margin: 2px 0; 
    font-size: 10px;
}