.section {}

.section h2 {
    color: #2cbfaa;
    border-bottom: 3px solid #2cbfaa;
    margin: .5em 0;
    padding-left: 8px;
    font-size: 18px;
}

.section .sectionContent {
    padding-left: 8px;   
}