@import "/src/AppV2/Theme.module.css";

.block {
  background-color: var(--card-main-bg-color);
  box-shadow: var(--shadow-lg) var(--shadow-color);
  font-family: var(--font-main-family);
  margin: 1em;
  border-radius: 10px;
}

.gameMain {
  height: 50vh;
}

.section {
  padding: 1em;
}

.twoColumnSection {
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  gap: 1em;
}

.gallery {}

.gallery img {
  height: 100%;
  width: auto;
}

.gallery .main {
  margin: 0 auto;
  margin-bottom: 1em;
  height: 35vh;
  max-width: 35vw;
  overflow: hidden;
  display: flex;
  justify-content: center;
  border-radius: 10px;
}

.gallery .secondary {
  display: flex;
  gap: 1em;
}

.gallery .item {
  height: 90px;
  max-width: 160px;
  overflow: hidden;
  cursor: pointer;
  border-radius: 10px;
}

.section h1 {
  margin: 0;
}

.section h2 {
  margin: 0;
  border-bottom: 2px solid;
}

.section h3 {
  margin: 0;
  margin-bottom: .5em;
}

.section p {
  margin: .3em 0;
}

.gameHeader span {
  color: var(--card-second-txt-color);
}

.gameDownload {
  background-color: var(--bg-second-color);
  color: var(--font-second-color);
  height: 100px;
  position: relative;
}

.downloadActions {
  position: absolute;
  bottom: -1em;
  right: 1em;
}

.downloadAction {
  font-weight: bold;
  margin: 0 .5em;
  border-radius: 10px;
  font-size: 1em;
  width: 140px;
}

.gameInfoSecondary {}

.categories {}

.category {
  padding: 0.3em 0.6em;
  border: 2px solid black;
  margin: 0.2em;
  display: inline-block;
}

.platforms {
  display: flex;
  gap: 1em;
  filter: brightness(0) invert(1);
  flex-direction: row-reverse;
}

.platformIcon {
  height: 40px;
}

.platformIcon img {
  height: 100%;
  width: auto;
}