.card {
  height: 320px;
}

.backgroundImageHolder {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.backgroundImage {
  background: #9eec9e;
  width: auto;
  height: 100%;
}

.info {
  position: relative;
  width: 100%;
  text-align: right;
  padding: .5em;
  margin-bottom: 3em;
  background: linear-gradient(to left, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, .5) 80%, rgba(255, 255, 255, 0) 100%);
}

.info h1 {
  margin: 0.2em 0;
  font-size: 1.5em;
  font-weight: bold;
  color: #000;
  line-height: .5;
}

.info span {
  color: #858585;
  font-size: .8em;
  font-weight: bold;
}

.categories {
  position: absolute;
  top: 10px;
  left: 10px;
}

.categories span {
  margin: 4px;
}