.gamesPage {
  width: 90%;
  margin: 2em auto;
  border-radius: 28px;
  background: var(--bg-color);
  border: 1px solid var(--bg-color);
  box-shadow: var(--shadow-color) -1px 1px 5px 1px;
}

.title {
  text-align: center;
}

.subtitle {
  display: flex;
  align-items: center;
}

.info {
  flex: 1;
  display: flex;
  color: #434343;
}

.info span {
  flex: 1;
}

.categories {
  flex: 1;
  text-align: right;
}

.featuredImageHolder {
  text-align: center;
}

.featuredImage {
  width: 98%;
  margin-top: 8px;
  height: auto;
  object-fit: cover;
  border-top-left-radius: 28px;
  border-top-right-radius: 28px;
}

.content {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-gap: 1em;
  padding: 1em;
  line-height: 32px;
  letter-spacing: -0.003em;
  font-size: 21px;
  margin: .3em 0;
  word-break: break-word;
  font-weight: 400;
  font-size: 1em;
}

.galleryItem {
  cursor: pointer;
}

.galleryItem img {
  max-width: 100%;
}

.gameMoreInfo {
  background: #d9ffff;
  padding: 0.6em;
  border: 1px solid #6ad1d1;
}

.gameMoreInfo p {
  font-size: .8em;
  margin: 0.4em;
  line-height: initial;
}

.downloadButtonHolder {
  margin: 1em 0;
  text-align: center;
}

.downloadButton {
  height: 2em;
  line-height: 2em;
  display: block;
  text-decoration: none;
  background: black;
  color: whitesmoke;
  border: 0px solid black;
  padding: .4em .6em;
  font-size: 1.5em;
  box-shadow: -1px 1px 5px 1px black;
}

.downloadButton img {
  height: 100%;
}

.downloadButton:hover {
  opacity: 0.8;
}

@media (max-width: 600px) {
  .gamesPage {
    width: 90%;
  }

  .content {
    font-size: 18px;
    margin-top: 1.56em;
    line-height: 28px;
  }

  .categories .category {
    display: inline-block;
    margin-bottom: .5em;
  }

  .gallery {
    grid-template-columns: minmax(0, 1fr);
  }

  .gameInfo {
    display: block;
  }
}